body {
    background: rgb(58, 58, 58);
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    margin:  0;
    padding: 0;
}

header {
    background: black;
    padding: 10px 20px;
}

.feature-box {
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.feature-box div{
    margin: auto;
    width: 100px;
}

.feature-box.sales div {
    background: gray;
}

.feature-box.closeouts div {
    background: red;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    background-color: limegreen;
    border-radius: 3px;
    padding: 2px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 20px;
    padding: 2px;
    margin-left: 20px;
}
li:first-child {
    margin-left: 0;
}

footer {
    background: black;
    padding: 10px 20px
}